*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button{
    padding: 10px;
}
body{
    background-color: royalblue;
    
}
header{
    background-color: orange;
    padding: 15px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main{
    padding: 20px 100px;
    
}
footer{
    padding:20px 100px;
    height:200px;
    background-color: gray;
}